<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YouTube to Mp3 Converter</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
    crossorigin="anonymous" />
  <link rel='stylesheet' href="/css/style.css">
  <link rel='stylesheet' href='/css/loader.css'>
  <script src='/js/main.js'>
  </script>
  <style>
  </style>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="header">
        YouTube to Mp3 Converter
      </h1>
      <div class="thumbnail">
      </div>
      <p id="resp">
      </p>
    </header>
    <div class='input-button'>
      <input type='text' id='input-url' placeholder="Paste Your Url here">
      <button class="button-primary download" style='background-color:black' onclick="Submit()" type='submit'>download
        Mp3</button>
    </div>
  </div>
  <footer>
    <p>
      Developed By MADHAV
    </p>
  </footer>
</body>

</html>